@model Education.DAL.Exam

@{
    ViewBag.Title = "Details";
}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Exam Detail</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">@Html.ActionLink("Exams", "Index")</li>
                <li class="breadcrumb-item active">Exam Detail</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-info">
                            <h4>About Exam</h4>
                            <div class="media mt-3">
                                <img src="/Areas/Admin/Content/assets/img/default/exam.jpg" class="mr-3" alt="@Html.DisplayFor(model => model.Name)" />
                                <div class="media-body">
                                    <ul>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.Code) : </span>
                                            <span class="info-span">@Html.DisplayFor(model => model.Code)</span>
                                        </li>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.Name) : </span>
                                            <span class="info-span">@Html.DisplayFor(model => model.Name)</span>
                                        </li>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.EventDate) : </span>
                                            <span class="info-span">@Model.EventDate.ToString("MM/dd/yyyy")</span>
                                        </li>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.StartTime) : </span>
                                            <span class="info-span">@Html.DisplayFor(model => model.StartTime)</span>
                                        </li>
                                        <li>
                                            <span class="title-span">@Html.DisplayNameFor(model => model.EndTime) : </span>
                                            <span class="info-span">@Html.DisplayFor(model => model.EndTime)</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <h5>List candicate</h5>
                                    <div></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-primary mb-5" })

    </div>
</div>