@model IEnumerable<Education.Areas.Admin.Data.DataModel.ExamScore>
@{
    ViewBag.Title = "Enter Exam Scores";
}
@section css{
    <style>
        textarea.note {
            width: 200px;
        }

        @@media(min-width:768px) {
            .box-search {
                margin-top: 32px;
            }
        }
    </style>
}
@section plugincss{
    <link href="~/Areas/Admin/Content/assets/plugins/datatables/datatables.min.css" rel="stylesheet" />
}

<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Enter Exam Scores</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action(" Index","Dashboard")">Dashboard</a></li>
                <li class="breadcrumb-item active">Enter Exam Scores</li>
            </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
            <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
            <a href="@Url.Action(" Create","Exams")" class="btn btn-primary"><i class="fas fa-plus"></i></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="row">
                        <div class="mb-2 col-md-5 col-xs-6">
                            <label for="ExamId">Exam Code</label>
                            @Html.DropDownList("ExamId", (IEnumerable<SelectListItem>
                                )ViewBag.ExamId, "-- Select One --", new { @class = "form-control" })
                            <span class="field-validation-valid text-danger" data-valmsg-for="ExamId" data-valmsg-replace="true"></span>
                        </div>
                        <div class="mb-2 col-md-5 col-xs-6">
                            <label for="BatchId">Batch Code</label>
                            @Html.DropDownList("BatchId", (IEnumerable<SelectListItem>
                                )ViewBag.BatchId, "-- Select One --", new { @class = "form-control" })
                            <span class="field-validation-valid text-danger" data-valmsg-for="BatchId" data-valmsg-replace="true"></span>
                        </div>
                        <div class="mb-2 col-md-2 col-xs-12 box-search">
                            <label></label>
                            <button class="btn btn-primary" id="btn-search-candicate">Search</button>
                        </div>
                    </div>

                    <input type="search" id="key" class="form-control mb-2" placeholder="Search..." />
                    <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                            <tr>
                                <th>Candicate Code</th>
                                <th>Candicate Name</th>
                                <th>Score</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody class="load-exam">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => item.CandicateCode)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CandicateName)</td>
                                    <td>@Html.EditorFor(modelItem => item.Score, new { htmlAttributes = new { @class = "form-control score", type = "number" } })</td>
                                    <td>@Html.TextAreaFor(modelItem => item.Note, new { @class = "form-control note" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-primary mt-5 float-right" id="btn-save">Save</button>
            </div>
        </div>
    </div>
</div>
@section pluginjs{
    <script src="~/Areas/Admin/Content/assets/plugins/datatables/datatables.min.js"></script>
}

@section scripts{
    <script>
        function format(inputDate) {
            var date = new Date(inputDate);
            if (!isNaN(date.getTime())) {
                // Months use 0 index.
                return date.getMonth() + 1 + '/' + date.getDate() + '/' + date.getFullYear();
            }
        }
        $(function () {
            $batchId = 0;
            $(document).ready(function () {
                $('.score').attr("min-length", "0");
                $('select').selectize({
                    sortField: 'text'
                });

            });
        })

        var managerExam = {
            load: function (CurrentPage = 1, Limit = 10, Key = null, BatchId = $batchId) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/Exams/GetDataCandicate",
                    data: { CurrentPage: CurrentPage, Limit: Limit, Key: Key, BatchId: BatchId },
                    success: function (res) {
                        res.data = JSON.parse(res.data);
                        console.log(res.data);
                        html = '';
                        for (let item of res.data) {
                            html += `<tr>
                                                        <td>${item.Code}</td>

                                                        <td>${item.Name}</td>

                                                        <td>
                                                        <input type="number" class="form-control score" value="0" />
                                                         </td>
                                                         <td>
                                                            <textarea type="text" class="form-control note" value=""></textarea>
                                                         <td>
                                                        </tr>`;
                        }
                        let paginate = '';
                        if (res.paginate.TotalPage > 1) {
                            for (var i = 1; i <= res.paginate.TotalPage; i++) {
                                if (i == res.paginate.CurrentPage) {
                                    paginate += `<li class="paginate_button page-item active"><a href="javascript:void(0)" class="page-link">${i}</a></li>`;
                                } else {
                                    paginate += `<li><a class="page-link" href="javascript:void(0)">${i}</a></li>`;
                                }

                            }

                        } else {
                            paginate = '';
                        }

                        $(".load-exam").html(html);
                        $(".pagination").html(paginate);
                    }
                })
            },
            delete: function (id) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/Exams/Delete",
                    data: { id: id },
                    success: function (data) {
                        if (data.StatusCode == 200) {
                            alert(data.Message);
                            managerExam.load();
                        } else {
                            alert(data.Message);
                        }
                    }
                })
            }
        }
        $(function () {
            managerExam.load();
            $(".custom-select").change(function () {
                let limit = $(".custom-select").val();
                let key = $("#key").val();
                managerExam.load(1, limit, key);
            });
            $(document).on("click", ".btn-remove", function () {
                let userId = $(this).data("id");
                managerExam.delete(userId);
            })
            $(document).on("click", ".page", function () {
                let page = $(this).text();
                let key = $("#key").val();
                managerExam.load(page, key);
            })
            $("#key").keyup(function () {
                let limit = $(".custom-select").val();
                let key = $("#key").val();
                managerExam.load(1, limit, key);
            })
            $("#BatchId").change(function () {
                if ($(this).val() != null) {
                    $batchId = $(this).val();
                } else {
                    $batchId = 0;
                }

            })
            $("#btn-search-candicate").click(function () {
                let limit = $(".custom-select").val();
                let key = $("#key").val();
                if ($batchId != 0) {
                    managerExam.load(1, limit, key);
                    $(".field-validation-valid").text("");
                } else {
                    $(".field-validation-valid[data-valmsg-for='BatchId']").text("Please select class code");
                }

            })
            $('#btn-save').click(function () {
                if ($('#ExamId').val() != null && $('#ExamId').val() != '') {
                    $(".field-validation-valid[data-valmsg-for='ExamId']").text("");
                    $examId = $('#ExamId').val();
                    //foreach element
                    if ($(".load-exam tr").length > 0) {
                        $(".load-exam tr").each(function (index) {
                            $score = $(this).find(".score").val();
                            $note = $(this).find(".note").val();
                            console.log(index + ": " + $(this).find(".score").val());
                        });
                    }

                } else {
                    $('#ExamId').focus();
                    $(".field-validation-valid[data-valmsg-for='ExamId']").text("Please select exam code");
                }
            })
        })
    </script>
}
